/* stylelint-disable */
$vertical: true;
$bg: #fff;
$red: #f98262;
$darkgray: #222;

.ipo-timeline {
  .ipo-active {
    position: absolute;
    top: -6px;
    right: -6px;
    background: $brand-primary;
    padding: 6px;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
  }

  .round-icons {
    display: inline-flex;
    margin-left: 5px;

    li {
      margin-right: 4px !important;
    }
  }

  font-size: 100%;
  color: $brand-primary;
  max-width: 800px;

  @if $vertical {
    width: 100%;
    overflow-x: hidden;
  }

  @else {
    margin: 0;
  }

  #timeline {
    .ipo-header {
      display: none;
      transition: all 0.3s ease-out;

      dt {
        font-size: 8px;
      }

      dd {
        margin-bottom: 0;
      }
    }

    .ipo-details {
      font-size: 14px;
      padding: 10px 2px 2px 2px;

      dl {
        margin-bottom: 4px;
      }

      .ipo-meta-footer {
        font-size: 14px;
        padding: 12px 8px;
        width: 100%;
      }
    }

    list-style: none;

    @if $vertical {
      margin: 0 0 30px 10px;
      padding-left: 20px;
      border-left: 2px solid lighten($brand-primary, 30);
    }

    @else {
      margin: 120px 0 0;
      padding: 0;
      border-top: 8px solid $brand-primary;
      display: table;
      border-spacing: 30px 0;
    }

    li {
      @if $vertical {
        margin: 6px 0;
        position: relative;
      }

      @else {
        display: table-cell;

        // for Firefox
        .relative {
          position: relative;
        }
      }
    }

    p {
      margin: 5px 0 15px;
      font-size: 10pt;
    }
  }

  .date {
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
    width: 45px;
    line-height: 12px;
    position: absolute;

    @if $vertical {
      z-index: 5;
      top: 5px;
      left: 59px;
    }

    @else {
      text-align: center;
      top: -55px;
      left: 0;
      right: 0;
    }
  }

  .circle {
    @if $vertical {
      margin-top: -6px;
      top: 50%;
      left: -28px;
    }

    @else {
      margin: 0 auto;
      top: -14px;
      left: 0;
      right: 0;
    }

    width: 0.6em;
    height: 0.6em;
    background: #f8f8f8;
    border: 2px solid $brand-primary;
    border-radius: 50%;
    display: block;
    position: absolute;
    box-sizing: content-box;
  }

  .content {
    .inner-content {
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: opacity 0.6s ease-in-out;
    }

    &[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }

    @if $vertical {
      max-height: 30px;
      padding: 66px 12px 5px 14px;
      border-color: transparent;
    }

    @else {
      width: 200px;
      max-height: 0;
      margin-top: 40px;
      vertical-align: top;
      padding: 50px 15px 15px;
      transition: width 0.7s linear, max-height 0.7s linear;
    }

    border-width: 2px;
    border-style: solid;
    border-radius: $border-radius-big;
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 0;
      height: 0;
      border: solid transparent;
      position: absolute;
      pointer-events: none;

      @if $vertical {
        right: 100%;
      }

      @else {
        bottom: 100%;
      }
    }

    &::before {
      @if $vertical {
        border-right-color: inherit;
        border-width: 14px;
        top: 50%;
        margin-top: -14px;
      }

      @else {
        border-bottom-color: inherit;
        border-width: 15px;
        left: 50%;
        margin-left: -15px;
      }
    }

    &::after {
      @if $vertical {
        // LEFT ARROW
        border-right-color: $bg;
        z-index: 99;
        border-width: 11px;
        top: 50%;
        margin-top: -11px;
      }

      @else {
        border-bottom-color: $bg;
        border-width: 12px;
        left: 50%;
        margin-left: -12px;
      }
    }

    p {
      max-height: 0;
      color: transparent;
      word-break: break-word;
      overflow: hidden;
      position: relative;
    }
  }

  label {
    position: absolute;
    z-index: 5;
    cursor: pointer;
    padding: 10px 10px 30px 0;
    border-radius: $border-radius-big;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);

    &.timeline-img {
      height: 50px;
      width: 50px;
      max-width: 75%;
      border: 2px solid #fff;
      background: {
        position: center center;
        repeat: no-repeat;
        size: contain;
        color: #fff;
      }
    }

    .ipo-title {
      position: absolute;
      font-weight: bold;
      font-size: 18px;
      left: 60px;
      color: #222;
      width: 240px;
      margin-top: 4px;

      i {
        font-size: 10px;
        padding: 6px;
      }
    }

    img {
      max-width: 60%;
      max-height: 60px;
    }

    @if $vertical {
      top: 10px;
      transition: transform 0.2s linear;
    }

    @else {
      width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      top: 60px;
      left: 15px;
    }
  }

  .radio {
    display: none;
  }

  .radio:checked {
    & + .relative {
      label {
        cursor: auto;

        @if $vertical {
          transform: translateX(24px);

          .date {
            left: 60px;
          }
        }

        @else {
          width: 400px;
          transition: width 0.3s linear 0.2s;
        }
      }
    }

    & ~ .content {
      max-height: 440px;
      border-color: lighten($brand-primary, 30);
      color: #222;
      background-color: white;

      .inner-content {
        max-height: 440px;
        opacity: 1;
      }

      .ipo-header {
        display: block !important;
        color: #222 !important;
        max-height: auto;
        background: #f8f8f8;
        padding: 6px 8px 6px 8px;
        text-align: center;
      }

      @if $vertical {
        margin-right: 10px;
        transform: translateX(8px);
        transition: max-height 0.4s linear, border-color 0.5s linear,
          transform 0.2s linear;
      }

      @else {
        width: 400px;
      }

      p {
        max-height: 200px;
        color: $darkgray;
        transition: color 0.3s linear 0.3s;
      }
    }
  }
}
