#partners {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      list-style-type: none;
      padding: 2px;

      @include media-breakpoint-up(md) {
        padding: 0 30px;
      }

      @include media-breakpoint-up(xl) {
        padding: 0 60px;
      }

      a {
        opacity: 1;
        display: inline-block;

        &:hover {
          opacity: 0.65;
        }

        img {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}
