.Ipo {
  ul {
    li {
      margin-right: 4px;
      list-style: none;
      display: inline-flex;
      align-items: flex-end;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .col-ipo {
    padding: 6px 15px 6px 15px;

    @include media-breakpoint-up(sm) {
      padding: 0 15px 10px 15px;
    }
  }

  .Ipo__container {
    position: relative;
    border: 1px solid #f2f2f2;
    margin-bottom: 20px;

    @include media-breakpoint-down(md) {
      border-radius: 12px;
    }

    .img-holder {
      position: relative;
      width: 100%;
      height: 225px;

      @include media-breakpoint-down(md) {
        border-radius: 12px 12px 0;
      }

      .ipo-image {
        transition: all 0.3s ease-in-out;
        background: {
          size: cover;
          repeat: no-repeat;
          color: #f8f8f8;
        }

        position: absolute;
        width: 100%;
        height: 100%;

        @include media-breakpoint-down(md) {
          border-radius: 12px 12px 0;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .before-header {
    @include media-breakpoint-down(md) {
      margin: 8px 0;
    }
  }

  .ipo-header {
    background: #f8f8f8;
    padding: 8px 5px 0 5px;
    text-align: center;

    dl {
      margin: 0;
    }

    .box {
      background: #f8f8f8;
    }

    dt {
      font-weight: normal;
      font-size: 9px;
      color: #888;
      text-transform: uppercase;
    }

    dd {
      font-weight: bold;
      font-size: 14px;
      color: $brand-primary;
    }
  }

  .ipo-second-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $brand-primary;
  }

  .ipo-details {
    padding: 12px;
    font-size: 13px;

    hr {
      margin-top: 0;
    }

    h2 {
      font-size: 1.8rem;
    }

    .entry-title {
      font-size: 24px;
      margin-bottom: 50px;

      // text-align: center
    }

    dl {
      //max-width: 420px
      margin-left: 0;
      margin-right: 0;
    }

    dt {
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 4px;
      padding-bottom: 4px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    dd {
      flex: 0 0 50%;
      max-width: 50%;
      text-align: right;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .ipo-meta {
      font-weight: bold;
    }

    .Ipo__buttons-bottom {
      padding-bottom: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: center;
      font-size: 13px;
      margin-top: 0;
      margin-bottom: 0;

      li:last-child {
        margin-left: auto;

        a {
          font-size: 0.9rem;

          @include media-breakpoint-down(sm) {
            width: 100%;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }

      i {
        margin-left: 8px;
      }
    }
  }

  .ipo-badge {
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: $brand-primary;
    padding: 4px 8px;
    border-radius: $border-radius;
    color: white;
    font-size: 9px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .ipo-logo {
    background-color: white;
    width: 140px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 6px solid white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: $border-radius;
  }
}

// Single
.Ipo__single {
  position: relative;
  max-width: 1920px;
  margin: 0 auto 1rem auto;

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }

  .img-container {
    position: relative;
    display: block;
    min-width: 100%;

    .ipo-image {
      display: block;
      object-fit: cover;
      width: 100vw;
      height: auto;
      max-height: 70vh;
      min-height: 380px;

      @include media-breakpoint-up(md) {
        min-height: 585px;
      }
    }

    .ipo-logo {
      right: 10px;

      @include media-breakpoint-up(md) {
        bottom: 30px;
        right: 30px;
      }
    }

    .ipo-badge {
      @include media-breakpoint-up(md) {
        top: 30px;
        left: 30px;
      }
    }
  }

  .ipo-info {
    position: relative;
    background: white;
    padding: 25px 15px 10px 15px;
    z-index: 20;
    border-radius: $border-radius;

    .round-icons,
    .entry-title {
      display: inline-flex;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      box-shadow: $box-shadow;
      top: 10%;
      right: 3%;
      padding: 15px 15px 10px 15px;
    }

    @include media-breakpoint-up(xl) {
      top: 12%;
      right: 12%;
    }

    .btn-teckna-sjalv {
      font-size: 15px;
      background-color: rgb(255, 193, 7);
      border: 0;
      width: 99%;

      // margin-top: 15px
    }

    .broker {
      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }

      li {
        width: 100%;
        margin-bottom: 8px;

        @include media-breakpoint-up(sm) {
          width: 49%;
        }

        @include media-breakpoint-up(md) {
          width: 49%;
          margin-bottom: 0;
        }

        a {
          font-size: 15px;
          width: 100%;
        }
      }
    }
  }

  .container {
    position: absolute;
    background: pink;

    // min-height: 200px
    left: 25vw;
    top: 25%;
  }
}

.single-ipo {
  .ipo-info {
    max-width: 100%;

    @include media-breakpoint-up(lg) {
      max-width: 450px;
    }
  }

  .Breadcrumbs__container {
    align-items: center;
  }

  .site-main {
    padding: 0;
  }

  .Ipo-wrapper {
    padding-top: 0;
  }

  .Ipo__single-info {
    margin-top: $space;

    .col-ipo {
      margin: 0;

      &.Ipo__background {
        font-weight: bold;
      }

      .inner {
        padding: 15px;
      }
    }

    h3 {
      font-size: 24px;
      color: $brand-primary;
      padding-bottom: 10px;
      border-bottom: 2px solid $brand-primary;
      margin-bottom: 20px;
    }
  }

  .ipo-details {
    padding: 10px 0 0 0;
  }
}

// Timeline
.ipo-timeline {
  .ipo-header {
    dd {
      font-size: 12px !important;
    }
  }

  .ipo-details {
    font-size: 12px !important;
  }
}

.disclaimer-text {
  color: #a0a0a0;
  font-size: 12px;
  max-width: 1920px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

#disclaimerPopup {
  .modal-header {
    color: $brand-primary !important;
  }

  .modal-body {
    font-size: 14px;
    color: #a0a0a0;
  }
}

.Ipo__posts .img-container {
  text-align: center;
}
